<p>Menu works!</p>
<div *ngIf="categories">



  <!--  <table class="table table-bordered">-->
<!--    <thead>-->
<!--      <tr>-->
<!--        <th scope="col">#</th>-->
<!--        <th scope="col">Category Name</th>-->
<!--        <th scope="col">Description</th>-->
<!--      </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--      <tr *ngFor="let category of categories; index as i">-->
<!--         <th scope="row">{{i+1}}</th>-->
<!--        <td>{{category.name}}</td>-->
<!--        <td>{{category.description}}</td>-->
<!--      </tr>-->
<!--    </tbody>-->
<!--  </table>-->
  <H1>Welcome to Passion Food</H1>
    <ul>
      <li *ngFor="let category of categories">
           <h2>{{category.name}}</h2>
          <ol>
         <li>
           <h5>{{category.itemList[0].name}} ------------ {{category.itemList[0].price}}</h5>
         </li>
            </ol>
      </li>
    </ul>




</div>

