<div>
  <h2>Your Ordered Items</h2>
  <div>
     <table class="table table-hover">
       <tbody>
          <tr class="table-primary" *ngFor="let item of orderedItemList; index as i">
            <td>{{item.itemName }}</td>
            <td>X</td>
            <td>{{item.itemQuantity}}</td>
            <td>${{item.totalPrice }}</td>
          </tr>
          <tr>
            <td>Sub Total</td>
            <td>${{calculateOrderTotal()}}</td>
          </tr>
          <tr *ngIf="!isPathCheckout">
            <td>Tax</td>
            <td>${{tax}}</td>
          </tr>
          <tr *ngIf="!isPathCheckout">
            <td>Total</td>
            <td>${{total}}</td>
          </tr>
       </tbody>
     </table>

  </div>
  <button *ngIf="isPathCheckout" routerLink="../placeOrder" type="button"  (click)="onCheckOut()">Continue to checkout</button>
</div>
