.container {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: left;

}

.divItem{
  width: 100%;
}
.category {
  display: grid;
  /*grid-template-columns: 50%;*/
  /*grid-auto-columns: auto;*/
  grid-templte-rows: 50%;
  margin-bottom: 15px;

}
button {
  margin-top: 15px;
  background-color: darkgrey;

}

h4 {
  font-family: "Apple Braille";
  text-align: center;
}
.checkout {
  text-align: center;
}
