nav {
  text-align: center;
  height: 100px;
  margin-bottom: 30px;
  background-color: darkgray;
}

navbar-nav{
  text-align: right;
  text-margin: 150px;
  text-align: center;
  font-family: "Pattaya";
}
img {
 max-width: 100px;
  max-height: 100px;
  margin-right:30px;
}
.container {
  background-image: '../assests/images/backImage.jpeg';
}

