.container {
  display: grid;
  grid-template-columns: 65%  35%;
  column-width: fill-available;
  margin-top: 100px;



}

h1 {
  margin-bottom: 60px;
}
.form-group {
  height: 25%;
  margin-right: 20%;
}

.inside {
  height: 100%;
  margin-left: 70px;


}
