.container {
  display: grid;
  grid-template-columns: 65%  35%;
  column-width: fill-available;
  margin-top: 100px;
}

h1,h2 {
  margin-bottom: 60px;
  text-align: left;
}

.form-group {
  height: 15%;
  margin-right: 20%;
}

.inside {
  height: 100%;
  margin-left: 70px;
}

.form-control {
  height: 60px;
}

.radio {
  display: grid;
  grid-template-columns: 40% 40%;
}
button {
  height: 50px;
  background-color: darkgrey;
}
