<div class="main">
<div class="container-fluid">
  <ngb-carousel *ngIf="images">
    <ng-template *ngFor="let image of images, index as i" ngbSlide>
      <div class="wrapper">
        <img [src]="image" alt=" ">
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="assets/images/shakes2.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/images/momo2.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/images/sandwich.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>


<div class="container">
  <router-outlet></router-outlet>
</div>
</div>

